:root{
    --squirrel-brown: 101, 63, 51;
    --wood-grey: 47, 46, 42;
    --moss-green: 113, 127, 99;
}

body{
    background-image: url("https://cdn.pixabay.com/photo/2021/12/12/22/17/red-squirrel-6867105_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    gap: 24px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    position: relative;
    top: 0px;
    padding: 12px;
}

nav button {
    padding: 0px 16px;
    font-size: xx-large;
    border-radius: 8px;
    color: rgb(var(--squirrel-brown));
    background-color: transparent;
    border: 1px dotted rgb(var(--wood-grey));
    
    font-family: "Playwrite VN", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#home, #menu, #about{
    padding: 8px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

#home, #menu, #about{
    align-items: center;
}

#content > * {
    margin: 24px;
}

#content header{
    margin-top: 16px;
    font-size: 48px;
    font-style: italic;
    color: rgb(var(--squirrel-brown));

    padding: 8px 16px;
    border-bottom: 1px solid rgb(var(--wood-grey));
    border-radius: 4px;
}


#content main, #content footer{
    color: rgb(var(--wood-grey));
    font-size: 24px;

    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

body > header, #content > * {
    padding: 16px;
    background: radial-gradient(circle at center, rgba(var(--moss-green), 0.9), rgba(var(--moss-green), 0));
}
